# 数据文件（敏感，不上传）
*.xlsx
*.csv
*.xls

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# 临时文件
*.tmp
*.log
check_inv.py
debug_bundle.py
download_tools.py

# 环境配置
.env
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
